<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
  
   <!-- 외부 db연결 파일 가져오기 -->
   <properties resource="kdb/foodtruck/conf/db.properties"/>
   
   <!--클래스들의 전체 경로와 이름에 별칭 만들기 -->
   	<typeAliases>
	    <typeAlias type="kdb.foodtruck.dto.Foodtruck" alias="Foodtruck" />
		<typeAlias type="kdb.foodtruck.dto.Event" alias="Event" />
		<typeAlias type="kdb.foodtruck.dto.Review" alias="Review" />
		<typeAlias type="kdb.foodtruck.dto.CustomerReview" alias="CustomerReview" />
		<typeAlias type="kdb.foodtruck.dto.Customer" alias="Customer"/>
	   	<typeAlias type="kdb.foodtruck.dto.Owner" alias="Owner"/>
	   	<typeAlias type="kdb.foodtruck.dto.Menu" alias="Menu"/>
	   	<typeAlias type="kdb.foodtruck.dto.Sales" alias="Sales"/>
	   	<typeAlias type="kdb.foodtruck.dto.Message" alias="Message"/>
	   	<typeAlias type="kdb.foodtruck.dto.Search" alias="Search"/>
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${userpass}" />
				<property name="poolMaximumActiveConnections" value="10"/>
				<property name="poolMaximumIdleConnections" value="5"/>
			</dataSource>
		</environment>
	</environments>
	
	<!--mapper 등록 -->
	<mappers>
	  <mapper resource="kdb/foodtruck/conf/mapper.xml"/>
	</mappers>
	
</configuration>






